<div class="wellx">
  <div class="form-group">
  <label ng-bind="field.title">{{field.title}}</label>
  


 <div class="checkbox"ng-repeat="option in field.options">
  <label>
    <input type="checkbox" value="option1"> {{option.title}}
  </label>
</div>







</div>


<button class="btn btn-default" data-toggle="modal" data-target="#fieldEdit_{{field.id}}">Edit</button>
<button class="btn btn-danger" ng-click="deleteField(field)">Delete</button>


</div>



<div class="modal fade" id="fieldEdit_{{field.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">



        <div class="form-group">
          <label>Field label</label>
          <input type="text" class="form-control" ng-model="field.title" value="Hello, world!">
        </div>

    <div class="checkbox">
    <label>
    <input type="checkbox" ng-model="field.required"> Required?
    </label>
    </div>


    <div class="checkbox">
    <label>
    <input type="checkbox" ng-model="field.disabled"> Disabled?
    </label>
    </div>



  
    <div class="form-group">
          <label>Help text (optional)</label>
          <textarea class="form-control" rows="3" ng-model="field.helpText"></textarea>
        </div>






        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>