<code>{{field}}</code>

<label>{{field.label}}{{field.is_required ? "*" : ""}}</label> 
<input type="text" class="form-control" value="{{field.default_value}}" disabled /> 
<small class="text-muted">{{field.help_text}}</small>
<br><br>
<button class="btn btn-default" data-toggle="modal" data-target="#fieldEdit_{{field.id}}">Edit</button>
<button class="btn btn-danger" ng-click="deleteField(field)">Delete</button>
<hr>
	


</div>





<!-- Start -->
        <div class="form-group">
          <label>Field label</label>
          <input type="text" class="form-control" maxlength="50" ng-model="field.label">
          <small class="text-muted">Maximum length 50 charactrs.</small>
        </div>

        <div class="form-group">
          <label>Field type</label>
          <select class="form-control" ng-model="field.validation.type" ng-init="field.validation.type='VARCHAR'">
				<option value="VARCHAR">String</option>
				<option value="DECIMAL">Decimal</option>
				<option value="INT">Numeric</option>
				<option value="DATETIME">Date and time</option>
			</select>
        </div>


        <div ng-if="field.validation.type == 'DATETIME'">
			<div class="form-group">
	          <label>Date time format</label>
		          <select class="form-control" ng-model="field.validation.dateFormat" ng-init="field.validation.format='DATETIME'">
						<option value="DATE">Date (D-M-Y)</option>
						<option value="DATETIME">Datetime (D-M-Y H:M:S)</option>
						<option value="TIMESTAMP">Timestamp (M-D-Y)</option>
						<option value="TIME">Time (HH:MM)</option>
						<option value="YEAR">Year (Y)</option>
					</select>
	        </div>
        </div>

         <div ng-if="field.validation.type == 'DECIMAL'">
			<div class="form-group">
	          <label>Fraction</label>
		          <select class="form-control" ng-model="field.validation.decimalFormat" ng-init="field.validation.format='2'">
						<option value="1">1 (23.1)</option>
						<option value="2">2 (23.12)</option>
						<option value="3">3 (23.123)</option>
						<option value="4">4 (23.1234)</option>
						<option value="5">5 (23.12345)</option>
					</select>
	        </div>
        </div>


        <div class="form-group">
          <label>Defualt value</label>
          <input type="text" class="form-control" ng-model="field.default_value">
        </div>

		<div class="checkbox">
		<label>
		<input type="checkbox" ng-model="field.is_required"> Required?
		</label>
		</div>

		<div class="form-group">
          <label>Help text (optional)</label>
          <textarea class="form-control" rows="3" ng-model="field.help_text"></textarea>
        </div>


        <div>Add validation rules (optional)</div>
        <hr>

        <div ng-if="field.data_attrs.type == 'VARCHAR'">

        <div class="row">

	        <div class="col-xs-6">


		        <div class="checkbox">
					<label><input type="checkbox" ng-click="updateValidation(field)" ng-model="field.validation.min_length"> Min length</label>
				</div>

				<div ng-if="field.validation.min_length">
					<input type="text" ng-model="field.validation.min_length_val"> 
				</div>


				<div class="checkbox">
					<label><input type="checkbox" ng-model="field.validation.max_length"> Max length</label>
				</div>

				<div ng-if="field.validation.max_length">
					<input type="text" ng-model="field.validation.max_length_val"> 
				</div>


				<div class="checkbox">
					<label><input type="checkbox" ng-model="field.validation.exact_length"> Exact length</label>
				</div>
				<div ng-if="field.validation.exact_length">
					<input type="text" ng-model="field.validation.exact_length_val" /> 
				</div>

			</div>

			<div class="col-xs-6">
		        <div class="checkbox">
					<label><input type="checkbox" ng-model="field.validation.equal_to"> Equal to</label>
				</div>

				<div ng-if="field.validation.equal_to">
					<input type="text" ng-model="field.validation.equal_to_val"> 
				</div>

				<div class="checkbox">
					<label><input type="checkbox" ng-model="field.validation.not_equal_to"> Not equal to</label>
				</div>

				<div ng-if="field.validation.not_equal_to">
					<input type="text" ng-model="field.validation.not_equal_to_val"> 
				</div>

				<div class="checkbox">
					<label><input type="checkbox" ng-model="field.validation.alpha"> alpha</label>
				</div>
			</div>

			<div class="col-xs-6">
		        <div class="checkbox">
					<label><input type="checkbox" ng-model="field.validation.alpha_numeric"> alpha_numeric</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" ng-model="field.validation.alpha_numeric_spaces"> alpha_numeric_spaces</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" ng-model="field.validation.alpha_dash"> alpha_dash</label>
				</div>
			</div>

			<div class="col-xs-6">
		        <div class="checkbox">
					<label><input type="checkbox" ng-model="field.validation.valid_url"> valid_url</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" ng-model="field.validation.valid_email"> valid_email</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" ng-model="field.validation.valid_ip"> valid_ip</label>
				</div>
			</div>
		</div>

		</div>



		<div ng-if="field.data_attrs.type == 'INT'">

        <div class="row">

	        <div class="col-xs-3">
		        <div class="checkbox">
					<label><input type="checkbox" ng-model="field.is_required"> Decimal</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" ng-model="field.is_required"> Equal to</label>
				</div>
			</div>

			<div class="col-xs-3">
		        <div class="checkbox">
					<label><input type="checkbox" ng-model="field.is_required"> Not equal to</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" ng-model="field.is_required"> Greater than</label>
				</div>
			</div>

			<div class="col-xs-3">
		        <div class="checkbox">
					<label><input type="checkbox" ng-model="field.is_required"> Greater than and equal to</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" ng-model="field.is_required"> Less than</label>
				</div>
			</div>

			<div class="col-xs-3">
		        <div class="checkbox">
					<label><input type="checkbox" ng-model="field.is_required"> Less than and equal to</label>
				</div>
			</div>
		</div>

		</div>

		<div ng-if="field.data_attrs.type == 'DATETIME'">

        <div class="row">

	        <div class="col-xs-3">
		        <div class="checkbox">
					<label><input type="checkbox" ng-model="field.is_required"> Equal to</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" ng-model="field.is_required"> Not equal to</label>
				</div>
			</div>

			<div class="col-xs-3">
		        <div class="checkbox">
					<label><input type="checkbox" ng-model="field.is_required"> Greater than</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" ng-model="field.is_required"> Greater than and equal to</label>
				</div>
			</div>

			<div class="col-xs-3">
		        <div class="checkbox">
					<label><input type="checkbox" ng-model="field.is_required"> Less than</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" ng-model="field.is_required"> Less than and equal to</label>
				</div>
			</div>

			<div class="col-xs-3">
		        
			</div>
		</div>

		</div>



        {{field.data_attrs.type}}

				
		



        {{field.validation_rule}}

        <hr>
        






		<div class="form-group" ng-if="field.validation.status==true">
			<label>Allowed data type</label>
			<select class="form-control" ng-model="field.validation.type" ng-init="field.validation.type='numeric'">
				<option value="numeric">Numeric</option>
				<option value="string">String</option>
				<option value="dateTime">Date and time</option>
			</select>
		</div>


		

		<div class="form-group" ng-if="field.validation.type == 'numeric' || field.validation.type == 'string'">
		<div class="row">
		<div class="col-md-6">
		<label>Minimum length</label>
		<input type="text" class="form-control" ng-model="field.validation.min" ng-init="field.validation.min=1">

		</div>
		<div class="col-md-6">

		<label>Maximum length</label>
		<input type="text" class="form-control" ng-model="field.validation.max" ng-init="field.validation.max=50">
		</div>

		</div>
		</div>


		


		
        <!-- end -->
<button type="button" class="btn btn-success" data-dismiss="modal" ng-click="saveForm()">Done</button>


<div class="modal fade" id="fieldEdit_{{field.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">





        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="saveForm()">Done</button>
      </div>
    </div>
  </div>
</div>