
{{field}}
<label>{{field.label}} {{field.id}} {{field.required ? "*" : ""}}</label> 
<input type="text" class="form-control" value="{{field.default_value}}" disabled /> 
<small class="text-muted">{{field.help_text}}</small>
<br>
<button class="btn btn-default" data-toggle="modal" data-target="#fieldEdit_{{field.id}}">Edit</button>
<button class="btn btn-danger" ng-click="deleteField(field)">Delete</button>

<hr>
	


</div>



<div class="modal fade" id="fieldEdit_{{field.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">




<!-- Start -->
        <div class="form-group">
          <label>Field label</label>
          <input type="text" class="form-control" maxlength="50" ng-model="field.label">
          <small class="text-muted">Maximum length 50 charactrs.</small>
        </div>


        <div class="form-group">
          <label>Defualt value</label>
          <input type="text" class="form-control" ng-model="field.default_value">
        </div>

		<div class="checkbox">
		<label>
		<input type="checkbox" ng-model="field.is_required"> Required?
		</label>
		</div>


		<div class="checkbox">
		<label>
		<input type="checkbox" ng-model="field.validation"> Validation required?
		</label>
		</div>



		<div class="form-group" ng-if="field.validation.status==true">
			<label>Allowed data type</label>
			<select class="form-control" ng-model="field.validation.type" ng-init="field.validation.type='numeric'">
				<option value="numeric">Numeric</option>
				<option value="string">String</option>
				<option value="dateTime">Date and time</option>
			</select>
		</div>


		

		<div class="form-group" ng-if="field.validation.type == 'numeric' || field.validation.type == 'string'">
		<div class="row">
		<div class="col-md-6">
		<label>Minimum length</label>
		<input type="text" class="form-control" ng-model="field.validation.min" ng-init="field.validation.min=1">

		</div>
		<div class="col-md-6">

		<label>Maximum length</label>
		<input type="text" class="form-control" ng-model="field.validation.max" ng-init="field.validation.max=50">
		</div>

		</div>
		</div>


		<div ng-if="field.validation.type == 'dateTime'">


		<div class="form-group">

          <label>Date format</label>
          <select class="form-control" ng-model="field.validation.dateFormat" ng-init="field.validation.dateFormat='D-M-Y'">
				<option value="D-M-Y">Date (D-M-Y)</option>
				<option value="M-D-Y">Date (M-D-Y)</option>
				<option value="Y-M-D">Date (Y-M-D)</option>
				<option value="HH:MM">Time (HH:MM)</option>
				<option value="D-M-Y H:M">Datetime (D-M-Y H:M)</option>
				<option value="M-D-Y H:M">Datetime (M-D-Y H:M)</option>
				<option value="Y-M-D H:M">Datetime (Y-M-D H:M)</option>
				<option value="D-M-Y H:M:S">Datetime w/ seconds (D-M-Y H:M:S)</option>
				<option value="Y-M-D H:M:S">Datetime w/ seconds (Y-M-D H:M:S)</option>
			</select>
        </div>
        </div>


		<div class="form-group">
          <label>Help text (optional)</label>
          <textarea class="form-control" rows="3" ng-model="field.help_text"></textarea>
        </div>
        <!-- end -->

        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="saveCube()">Done</button>
      </div>
    </div>
  </div>
</div>